<h1> Edit yout book </h1>
<%= simple_form_for @book do |b| %>
  <%= b.input :title %>
  <%= b.input :genre %>
  <%= b.input :classification %>
  <%= b.input :book_type %>
  <%= b.input :year %>
   <%= b.submit 'update', class: 'btn btn-primary' %>
<% end %>